/*  Side Nav for Docs */

/* Side Nav Active :before */
.sidenav-link-active:before {
  background: #2162b5;
  border-radius: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  content: '';
  left: calc(1.5rem - 1rem);
  top: 16px;
  height: 8px;
  position: absolute;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
}

.sidenav-link-active.sidenav-link-secondary:before {
  left: 1.7rem !important;
}

.sidenav-link-active.sidenav-header-link:before {
  top: 16px !important;
}

/* Side Nav Active :after */
.sidenav-link-active:after {
  background: #2162b5;
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translateX(-92px);
  -ms-transform: translateX(-92px);
  transform: translateX(-92px);
  width: 100px;
  content: '';
  left: calc(1.5rem - 1rem);
  top: 16px;
  height: 8px;
  position: absolute;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav-link-active.sidenav-link-secondary:after {
  left: 1.7rem !important;
}

.sidenav-link-active.sidenav-header-link:after {
  top: 16px !important;
}

/* Side Nav :before */
.sidenav-link:before {
  background: #2162b5;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  border-radius: 100%;
  content: '';
  left: calc(1.5rem - 1rem);
  top: 16px;
  height: 0px;
  position: absolute;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 0px;
}

.sidenav-link.sidenav-link-secondary:before {
  left: 1.7rem !important;
}
.sidenav-link.sidenav-header-link:before {
  top: 16px !important;
}

/* Side Nav :after */
.sidenav-link:after {
  background: #2162b5;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: translateX(-92px);
  -ms-transform: translateX(-92px);
  transform: translateX(-92px);
  width: 0;
  content: '';
  left: calc(1.5rem - 1rem);
  top: 16px;
  height: 0px;
  position: absolute;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav-link.sidenav-link-secondary:after {
  left: 1.7rem !important;
}

.sidenav-link.sidenav-header-link:after {
  top: 16px !important;
}

/* General Sidenav Link */
.sidenav-link:hover:before {
  width: 8px;
  height: 8px;
}

.sidenav-link.hover:hover,.sidenav-link-active.hover:hover,.sidenav-collapse:hover {
  background-color: rgba(34, 97, 181, 0.05);
}
